*{
  margin: 0px;
  padding: 0px;
}
div{
  margin: 30px;
  
}
table tr td{
  border: 3px solid rebeccapurple;
  font-family: "Baloo Bhai",cursive;
  font-size: 30px;
  width: 250px;
  padding: 30px;

}
